html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: black;
  --clr-secondary: white;
  --clr-vehicle-available: green;
  --clr-vehicle-unavailable: red;
  --clr-settings-bg: lightgray;
}
